@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
html {
scroll-behavior: smooth;
}
body {
/* Applied from tailwind.config.js or defaults, but good to be explicit */
@apply bg-black text-gray-100;
}
}